.now-playing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 15px 18px;
    margin: 15px;
    box-sizing: border-box;
    position: relative;
    bottom: 30px;
}
.now-playing__music {
    display: flex;
    flex-direction: column;
}
.now-playing__music > span:first-child {
    color: white;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 2px;
}
.now-playing__music > span:last-child {
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.now-playing__buttons {
    display: flex;
    align-items: center;
}
.now-playing__buttons span i {
    color: white;
    margin: 0px 5px;
}